.header-main{
    background-color: #333333;
    padding: 20px; 
    display: flex ;
    flex-direction: row;
justify-content: space-between;
}
.header__brand{
    width: 72px ;
    
}
.navbars__nav{
    text-align: right ;
    li{
        display: inline;
        a{
            font-family: $sans_serif-bold ;
            display: inline-block;
            
            padding: 2px 8px ;
        &.active::after{
            content: '' ;
            margin-top: 4px ;
            display: block;
            width: 100% ;
            height: 2px ;
            
        }
        }
    }
}
.navbars__nav-main{
    padding-bottom: 20px ;
    
        li a{
             color: rgb(255, 255, 255) ;
             font-size: 1rem ;
             font-weight: 700 ;
            
        &.active::after{
            background-color: #fff;
        }
        }
    
}


.navbars__nav-second{
    
   li a{
         color: rgb(226, 226, 226) ;
         font-size: .9rem ;
    }

}



// My reset
img{
    width: 100%;
}
*{
    box-sizing: border-box; 
    text-rendering: optimizeLegibility ;
}

a, a:focus , a:hover , a:visited{
    text-decoration: none ;
    color: initial;
}