
.hero {
    background-image: url('../imgrs/bghero.jpg');
    background-repeat: no-repeat;
    &_wraper {
        height: 700px;
        background-color: #fff;
        
    }
    &_content-wraper {
        max-width: 430px;
        margin: 0 auto;padding: 20px ;
        position: relative;
        top: 25%;
    }
    &_title {
        text-align: center;
    }
    &_desc {
        margin: 40px 0 60px;
    }
}

.button-wraper {
    width: 250px;
    margin: 20px auto;
}

@media screen and (max-width: 767px) {
    .hero_wraper {
        height: auto;
        padding: 60px 0;
    }
}
